<!DOCTYPE html>
<html>
    <head>
        {% load bootstrap %}

        <!--<link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet">-->
        {% bootstrap_css %}

    </head>
    <body>
        <h6>Hi {{me.first_name}}</h6>

        <!--<div class="hero-unit">
            <h2>Brogramming Quote of the Day</h2>
        </div>-->

        <div class="hero-unit">
            <h2>Brogramming Quote of the Day</h2>
            <br><br>

            <blockquote><p><em>{{quote}}</em><p></blockquote>
            <br><br><br>
            <form method="POST" action="{% url update_status %}"  >
                <input type="hidden" name="quote" value="{{quote}}" />
                <input type="hidden" name="access_token" value="{{access_token}}" />
                <input type="hidden" name="me" value="{{me}}" />
                <input type="hidden" name="facebook" value="{{facebook}}" />
                <div class="actions">
                    <input type="submit" class="btn primary" value="Set as my status!"/>
                    <input type="submit" class="btn "value="Reload" name="cancel" />
                    <!--<button type="reset" class="btn" action="{% url home %}">Reload</button>-->
                    <p>Or, hit reload if you want a new one...</p>
                </div>
            </form>
        </div>
        <div class="well">

        </div>
    </body>
</html>